<!-- <div>
   
<div class="loginimage">
    
    <div style="    display: flex;
    justify-content: center;
    align-items: center;">
     
 
    </div>
</div>
</div> -->

<div class="container">
    <div class="loginimage">
        <div style="display: flex;justify-content: center;color: antiquewhite;font-size: 250%;">
            <h3>Client Login</h3>
        </div>
        <div style="    display: flex;
        justify-content: center;
        align-items: center;">
            <form [formGroup]="LoginForm" style="margin-left: 20px;">
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText formControlName="email">
                    <label for="float-input">Enter Email id</label>
                    <div *ngIf="LoginForm.get('email')?.hasError('required') && LoginForm.get('email')?.touched ">email is
                        required
                    </div>
        
                </span> 
                    <br>
                    <br>
                    <span class="p-float-label">
                    <input id="float-input" type="text" pInputText formControlName="clientname">
                    <label for="float-input">Enter client name</label>
                    <div *ngIf="LoginForm.get('clientname')?.hasError('required') && LoginForm.get('clientname')?.touched ">clientname is
                        required
                    </div>
                </span> 
                    <br>
                    <br>
                    <span class="p-float-label">
                    <input id="float-input" type="text" pInputText formControlName="password">
                    <label for="float-input">Enter password</label>
                    <div *ngIf="LoginForm.get('password')?.hasError('required') && LoginForm.get('password')?.touched ">password is
                        required
                    </div>
                </span> 
              
                <button pButton pRipple label="login" (click)="fetchByData(LoginForm.value)" style="margin:5px">
                </button>
                <button pButton pRipple label="signup" (click)="onSelect()" style="margin:5px"></button>
            </form>
        </div>
    </div>
</div>