<div class="updatebg">
<form [formGroup]="updateForm" style="margin-left: 30px;">
    <br>
    <br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="id"> 
        <label for="float-input">ResourceId</label>
    </span>
    <br>
    <br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="name"> 
        <label for="float-input">Resourcename</label>
    </span>
    <br>
    <br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="status"> 
        <label for="float-input">Status</label>
    </span>
    <br>
    <br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="skills"> 
        <label for="float-input">Resource skills</label>
    </span>
    <br>
    <br>
    <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="clientname">
        <label for="float-input"> clientname</label>
    </span>
    <button pButton pRipple label="Save" style="margin:5px" (click)="update(updateForm.value)" icon="pi pi-check"></button>
    <button pButton pRipple label="Cancel" style="margin:5px" (click)="cancel()" icon="pi pi-times"></button>
</form>

<p-toast position="top-right" key="tl"></p-toast>

</div>

